.app {
  width: 100%;
  height: 100%;
  font-family: var(--theme-font-primary);
  background-color: var(--theme-background);
  color: var(--theme-foreground);
  border: 1px solid var(--theme-border);
  border-top: none;
}

.search-icon {
  transform: rotate(90deg);
}
