.footer-container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.footer-container.top::before {
  background-color: var(--theme-sideBar-active-foreground);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 2px;
}
